body *{
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: lightgray;
}


.page {
    width: 1200px;
    background-color: lavender;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.pure-g {
    margin-bottom: 50px;
}

.header_text {
    font-family: 'Raleway', sans-serif;
}

.pregnant-image img {
	width: 220px; 
	height: auto;
}

.aus-image img {
	width: 300px;
	height: auto;
}